* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-gray);
	color: var(--color-navy);
	font-family: 'Poppins', sans-serif;
}

:root {
	--color-white: #ffffff;
	--color-gray: #f4f4f4;
	--color-linen: #faf3e0;
	--color-blush: #fadadd;
	--color-navy: #000b75;
	--color-dm: #1c2a4d;
	--color-creative: #e76daa;
	--color-solutions: #a6a6a6;
	--color-lightpink: #e7b6d2;
	--color-mediumpink: #e88fb6;
	--color-darkpink: #d96aa0;
}


/*HERO SECTION*/
.hero {
	padding: 0.5rem 2rem;
	background: radial-gradient(circle, #ffffff 0%, #f4f4f4 35%, #fadadd 100%);
	text-align: center;
	/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);*/
}

.hero-container {
	margin: auto;
	max-width: 1200px;
}

.logo {
	margin-bottom: 1rem;
	height: auto;
	max-width: 180px;
}

.hero h1 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

.hero p {
	margin-bottom: 2rem;
	font-size: 1.2rem;
}

.cta-button {
	margin-bottom: 2.5rem;
	padding: 0.75rem 1.5rem;
	background-color: var(--color-blush);
	color: var(--color-navy);
	text-decoration: none;
	font-weight: 600;
	border: none;
	border-radius: 6px;
	display: inline-block;
	transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.cta-button:hover {
	background-color: var(--color-creative);
	color: var(--color-white);
	box-shadow: 0 4px 12px rgba(231, 109, 170, 0.3);
}

@media (max-width: 768px) {
	.hero h1 {
		font-size: 2rem;
	}
	.hero p {
		font-size: 1rem;
	}
	.logo {
		width: 100px;
	}
}

@media (max-width: 480px) {
	.hero-container {
		max-width: 250px;
	}
	.logo {
		width: 75px;
	}
	.hero h1 {
		font-size: .95rem;
	}
	.hero p {
		font-size: 0.95rem;
	}
	.cta-button {
		padding: 0.6rem 1.2rem;
		font-size: 0.9rem;
	}
}

/*ABOUT ME*/
.about {
	padding: 4rem 2rem;
}

.about-container {
	margin: auto;
	background-color: var(--color-blush);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
}

.about-image {
	margin: 1.5rem auto 1.5rem auto;
	border-radius: 8px;
	display: block;
	width: 180px;
}

.about-text h2 {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

.about-text h2::after {
	margin: 1rem auto;
	background-color: var(--color-creative);
	display: block;
	width: 60px;
	height: 3px;
	content: '';
}

.about-text p {
	margin: 0 auto;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	line-height: 1.6;
	max-width: 800px;
}

@media screen (min-width: 768px) {
	.about-container {
		text-align: left;
		flex-direction: row;
		gap: 3rem;
	}
	.about-image {
		margin-bottom: 0;
		width: 200px;
	}
	.about-text {
		flex: 1;
	}
}

@media (max-width: 480px) {
	.about {
		padding: 1.25rem .5px;
	}
	.about-container {
		text-align: justify;
		max-width: 250px;
	}
	.about-text h2 {
		text-align: center;
		font-size: 1.5rem;
	}
	.about-text p {
		margin-bottom: 1rem;
		padding: 0 1rem;
		font-size: .8rem;
	}
}

/*PORTFOLIO HIGHLIGHT*/
.portfolio-showcase {
	padding: 4rem 2rem;
	background-color: var(--color-white);
	text-align: center;
	width: 100%;
}

.portfolio-container h2 {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
}

.portfolio-container p {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
	font-size: 1.2rem;
	max-width: 800px;
}

.portfolio-grid {
	margin-bottom: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 2rem;
}

.portfolio-card {
	padding: 1rem;
	background-color: var(--color-gray);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
	height: 100%;
}

.portfolio-card img {
	margin-bottom: 1rem;
	border-radius: 6px;
	object-fit: cover;
	height: auto;
	width: 100%;
	max-width: 500px;
}

.portfolio-card h3 {
	margin-bottom: 0.5rem;
	color: var(--color-creative);
	font-size: 1.25rem;
	font-weight: 700;
}

.portfolio-card p {
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1rem;
	font-style: italic;
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
}

.review-link {
	margin-top: auto;
	padding: 0.5rem 1rem;
	background-color: var(--color-blush);
	text-decoration: none;
	font-weight: 600;
	border-radius: 4px;
	transition: background-color 0.3s ease;
	/*position: absolute;
	bottom: -920px;
	left: 50%;
	transform: translateX(-50%);*/
	
}

.review-link:hover {
	background-color: var(--color-creative);
	color: var(--color-white);
}

/*CREATIVE SERVICES*/
.creative-services {
	padding: 4rem 2rem;
	text-align: center;
}

.services-container {
	margin: 0 auto;
	padding: 3rem 2rem;
	background-color: var(--color-blush);
	/*border-radius: 12px;*/
	max-width: 1200px;
}

.services-container h2 {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-family: 'Playfair Display', serif;
}

.subtitle {
	margin-bottom: 2rem;
	font-size: 1.2rem;
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	gap: 2rem;
}

.service-card {
	padding: 2rem;
	background-color: var(--color-white);
	text-align: left;
	border-radius: 8px;
}

.service-card h3 {
	margin-bottom: 0.5rem;
	font-size: 1.3rem;
}

.service-card p {
	margin-bottom: 1rem;
	font-weight: 600;
}

.service-card ul {
	margin-bottom: 1.5rem;
	padding: 0;
	list-style: none;
}

.service-card ul li {
	margin-bottom: 0.5rem;
}

.service-button {
	padding: 0.5rem 1rem;
	background-color: var(--color-creative);
	color: var(--color-white);
	text-decoration: none;
	font-weight: 600;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}